<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorteio de equipes</title>
    <meta name="description" content="App em NodeJS para sorteio de equipes">
    <link rel="shortcut icon" href="img/icon.png">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <!-- Socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>

    <!-- Nav -->
    <nav class="container-fluid">
        <ul>
            <li><a href="./" class="contrast"><strong>Sorteio de equipes</strong></a></li>
        </ul>
    </nav>
    <!-- ./ Nav -->

    <!-- Main -->
    <main class="container">
        <article class="grid">
            <div class="insertPlayer">
                <h2>Adicione os jogadores</h2>
                <form id="formAddPlayer">
                    <input type="text" id="name_player" maxlength="15" placeholder="Informe o nome do jogador" aria-invalid="true" required>
                    <button type="submit" class="contrast">Adicionar</button>
                </form>
                <!-- Button to trigger the modal -->
                <button data-target="modal-initSortition" id="btnSortition" onClick="toggleModal(event)" style="display:none;">Sortear</button>
            </div>
            <div class="listPlayers">
                <h4 aria-busy="true">Aguardando jogadores...</h4>
            </div>
        </article>
        <br>
        <article class="grid" id="resultSortition" style="display:none;">
            <div>
                <h2>Resultado do sorteio</h2>
                <div class="resultSortition">
                </div>
            </div>
        </article>

        <!-- Modal -->
        <dialog id="modal-initSortition">
            <article>
                <h3>Quantos jogadores por equipe?</h3>
                <select id="qtdPerTeam" required>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                <footer>
                    <button role="button" class="secondary" data-target="modal-initSortition" onclick="toggleModal(event)">Cancelar</button>
                    <button role="button" data-target="modal-initSortition" id="initSortition" onclick="toggleModal(event)">Sortear</button>
                </footer>
            </article>
        </dialog>

    </main>
    <!-- ./ Main -->

    <!-- Socekt Controller -->
    <script src="js/controller.js"></script>

    <!-- Swetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Modal Pico-->
    <script src="https://picocss.com/examples/js/modal.js"></script>

</body>

</html>